extends ../layout

block content
	p= "Item: " + data.name
	p= "Description: " + data.description 
		form(action='/lists/#{data.list_id}/items/#{data.id}', method="POST")
			//- match the action route to the post route in app.js
			div.input
				span.label Name
				input(type="text", name="name")
			div.input
				span.label Description
				input(type="text", name="description")
			div.actions
				input(type="submit", value="add")