extends ../layout

block content
	p= data.name
	p= data.description
	p
		form(action='/lists/#{data.list_id}/items/#{data.id}', method="POST")
			div.input
				span.label Name
				input(type="text", name="name")
			div.input
				span.label Description
				input(type="text", name="description")
			div.actions
				input(type="submit", value="add")