extends layout

block content
	p This is a paragraph.
	ol List of Lists
		each val in data
			li 
				p Name: #{val.name}
				p Description: #{val.description}
				p
					a(href="/items/" + val.id) show item